.block-top-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 91%;
    margin-bottom: 20px;
    margin-left: 120px;
    border-radius: 8px;
    padding: 40px;
    background-color: white;
  }
.TableContainer{
    box-shadow: 1px;

  }