.subscription-top-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 20px ;
  background-color: white;
}



.subs-main-content{
  margin-left: 40px;
  margin-top: -20px;
}

.sort-container-subs select {
  padding: 12px;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 40px;
  font-size: 14px;
  border: 1px solid #ccc;
}
.sort-container-subs{
  margin-left:350px;
}