/* Top bar */
.violation-top-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  background-color: #fff;  
}

/* Table */
thead {
  background: white;
  border-bottom:#71717a;
}

table tr {
  white-space: nowrap;
  color:#71717a;
}

tbody tr {
  background-color: white;
}

tbody tr:hover {
  background-color: #f0f0f0;
}

table tr, table td {
  border-bottom: none !important;
}

/* Modal buttons */
.modal-button {
  display: flex;
  justify-content: flex-end;
  margin: 20px 10px -50px;
}

.modal-button button, .modal-button-2 button {
  width: 120px;
  height: 40px;
  border-radius: 5px;
  border: none;
  background-color: #3b3131;
  color: white;
  cursor: pointer;
  transition: background 0.3s ease;
}

.modal-button-2 button {
  background-color: #ffecc6;
  color: black;
}

.modal-button button:hover, .modal-button-2 button:hover {
  background-color: #333;
}

/* Profile title */
.profile-title {
  font-size: 24px;
  padding: 20px;
}

/* Violation image */
.violation-image img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 2px solid #ddd;
}

.violation-image {
  width: 20%;
}

/* Violation details */
.violation-details p {
  padding: 25px;
  display: flex;
  flex-direction: row;
}

/* Close button */
.close-button {
  margin-top: 20px;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.close-button:hover {
  background-color: #0056b3;
}

/* Modal overlay */
.driver-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Close icon in modal */
.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 24px;
  color: #333;
}

/* View button */
.view-button {
  margin: 0 5px;
  padding: 5px 10px;
  font-size: 12px;
  cursor: pointer;
}

/* Violation modal */
.violation-modal {
  border-radius: 8px;
  background-color: white;
  display: flex;
  position: fixed;
  width: 50%;
  height: 75%;
  z-index: 9999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Violation section */
.violation {
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 15px;
}

/* Report section */
.report {
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  margin-top: -70px;
  margin-bottom: 40px;
}
