
* {
  box-sizing: border-box; 
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  overflow-x: hidden;
}

h1 {
  padding-left: 120px;
}

.commuters-main-content {
  width: 100%;
  padding-left: 100px;
  box-sizing: border-box;
}

.passenger-table {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; 
  margin-top: 30px;
}

.container {
  max-width: 100%;
  overflow-x: auto;
}

table {
  width: 100%;
  font-size: 15px;
  border-collapse: collapse;
}

thead {
  background: black;
  color: white;
}

thead tr th {
  padding: 19px;
}

tbody {
  font-size: 13px;
}

table tr {
  white-space: nowrap;
  transition: .23s ease-in-out;
}

table tbody tr:hover .hover-effect {
  background: violet;
}

td {
  text-align: center;
}

.edit-button, .delete-button, .view-button, .save-button, .cancel-button {
  margin: 0 5px;
  padding: 5px 10px;
  font-size: 12px;
  cursor: pointer;
}
.profile-title {
  font-size: 24px;
  padding: 20px;
}

.edit-button {
  background-color: #4CAF50; 
  color: white;
  border: none;
  border-radius: 3px;
}

.delete-button {
  background-color: #f44336; 
  color: white;
  border: none;
  border-radius: 3px;
}

.view-button {
  background-color: #008CBA; 
  color: white;
  border: none;
  border-radius: 3px;
}

.save-button {
  background-color: #4CAF50; 
  color: white;
  border: none;
  border-radius: 3px;
}

.cancel-button {
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 3px;
}

.search-bar-container {
  padding-left: 130px;
}

.input-design {
  height: 20px;
  width: 15%;
}

.modal-button {
  display: flex; 
  margin-bottom: -70px;
  justify-content: flex-end; 
  margin-right: 10px;
}

.modal-button button {
  margin-top: 20px;
  margin-right: 10px;
  width: 100px;
  height: 40px;
  border-radius: 5px;
  border: none;
  margin-bottom: 60px;
  background-color: #3b3131;
}

.modal-button-2 button {
  margin-top: 20px;
  margin-right: 10px;
  width: 100px;
  height: 40px;
  border-radius: 10px;
  border: none;
  margin-bottom: 60px;
  background-color: #ffecc6;
}

.modal {
  border-radius: 8px;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 60%;
  height: 80%;
  z-index: 9999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  z-index: 9998;
}

.modal-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.close {
  cursor: pointer;
  align-self: flex-end;
  margin-right: 10px;
  font-size: 54px;
}

p {
  padding: 15px;
  border-radius: 5px;
}
.driver-content th{
  color: white;
}