* {
  box-sizing: border-box; 
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  overflow-x: hidden;
}

.commuter-top-bar {
  display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 91%;
    margin-bottom: 20px;
    margin-left: 120px;
    border-radius: 8px;
    padding: 40px;
    background-color: white;
}


.commuters-main-content {
  width: 100%;
  padding-left: 100px;
  box-sizing: border-box;
}

.edit-button, .delete-button, .view-button {
  margin: 0 5px;
  padding: 5px 10px;
  font-size: 12px;
  cursor: pointer;
  border-radius: 3px;
  border: none;
  color: white;
}

.edit-button {
  background-color: #4CAF50; 
}

.delete-button {
  background-color: #f44336; 
}

.view-button {
  background-color: #008CBA; 
}

.loading {
  text-align: center;
  font-size: 18px;
  color: #555;
  margin-top: 50px;
}

.error-message {
  text-align: center;
  color: red;
  font-size: 16px;
  margin-top: 20px;
}

.modal {
  border-radius: 8px;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 60%;
  height: 80%;
  z-index: 9999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  z-index: 9998;
}

.modal-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 20px;
}


.profile-image {
  width: 150px;
  text-align: center;
}

.user-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 20px;
}

.profile-title {
  font-size: 24px;
  padding: 10px 0;
  text-align: center;
}

.close {
  cursor: pointer;
  align-self: flex-end;
  margin-right: 10px;
  font-size: 24px;
  background: none;
  border: none;
}

p {
  padding: 5px 0;
  margin: 0;
  color: #333;
}
