.fare-main-content{
  margin-left: 240px;
  margin-top: 20px;
}

.reset button{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 25px;
}

.fare-top-bar{
  margin-top: 25px;
  margin-bottom: 20px;
}